<div class="container">
  <div class="row">
    <div class="col-lg-6 offset-md-3">
      <div class="card hovercard">
        <div class="cardheader"></div>
        <div class="avatar">
          <img alt=""
            src="https://talentrh-prod.s3.amazonaws.com/profile-images/626f0c44-c873-4c0d-b2be-f115571023e9.jpg">
        </div>
        <div class="info">
          <div class="title">
            <a target="_blank" href="https://scripteden.com/">Maicon Stangherlin</a>
          </div>
          <div class="desc">Desenvolvedor Web</div>
          <div class="desc">Viasoft</div>
        </div>
        <div class="bottom">            
            <a class="btn btn-primary btn-sm" rel="publisher" href="#">
                <i class="fa fa-medium"></i>
              </a>
          <a class="btn btn-primary btn-sm" rel="publisher" href="#">
            <i class="fa fa-linkedin"></i>
          </a>
          <a class="btn btn-primary btn-sm" rel="publisher" href="#">
            <i class="fa fa-facebook"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>