<app-time-form (refresh)="refresh($event)"></app-time-form>
<br>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col" class="center">Escudo</th>
        <th scope="col">Nome</th>
        <th scope="col" class="center">Excluir</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let time of times">
        <td class="center">
          <img class="img-thumbnail" class="escudo-time" [src]="time.urlImagem">
        </td>
        <td class="td-vertial-center">{{time.nome}}</td>
        <td class="td-vertial-center center">
          <a (click)="remove(time.id)"><i class="fa fa-trash-o fa-lg"></i></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>