.versus{
    text-align: center;
    font-size: 25px; 
}

@media screen and (min-width: 992px) {
    .versus{
        margin-top: 28px;               
    }
  }


.center {
    text-align: center;
}

.input-placar {
    width: 50px;
    margin: 10px;
}

.jogos-restantes{
    text-align: right;
    margin-bottom: 20px;    
    margin-right: 5px;
    color: #327ad9;
}